{% include "Homeheader.html.twig" %}
  
       
        {% for book in data %}
        {% set coverpage = book.coverpage%}
        {% set path ="app/Model/upload/" ~ coverpage %}
       
    <div id='body'>
      <div class='inner'>
        <div class='leftbox'>
          <img src='{{ path }}' width='250' height='150' alt='photo 1' class='left' />
          <div id='bookData'><h3 id="booktitles"> {{ book.title }}</h3><br>
          <h2>Description<br> {{ book.description }}</h2><br>
          <h2>Category<br> {{ book.category}} </h2><br>
          <h2>Sub Category<br> {{ book.sub_category }} </h2><br>
          <h3 id="datas">Author Name<br> {{ book.authorname }} <br></h3><br>
          <h3 id='datas'>Price<br> {{ book.price }} <br></h3>
         <p class='readmore'></p><br><br>
         <tr><td id="datas">Available stock<br></td></tr><tr><td id="datas"><div id="stock">{{ book.stock }}</div><br><br></td></tr>
         <tr><td><div id="stockerror"></div></td></tr>
         <form action='/checkout' method='POST' autocomplete="off" onsubmit="return validateForms()">
         <tr><td>Quantity<br><br></td></tr>

         <tr><td><select name='quantity' id="quantity">
         <option value=1>1</option>
         <option value=2>2</option>
         <option value=3>3</option>
         <option value=4>4</option>
         </select><br><br></td></tr>
         <input type="hidden" value="{{ path }}" name="imagesource">
         <input type="hidden" value="{{ book.title }}" name="btitle">
         <input type="hidden" value="{{ book.price }}" name="bprice" >
         <input type='hidden' value="{{ book.bookid }}" name='bid' id="bookid">
         <input type="hidden" value="{{ book.category }}" name="category">
         <button type='submit' id="buynow">BUY NOW</button></div><div class='clear'></div>
        </div>
        </form>
        {% endfor %}
       
        
   <script>
   
    function checklogin()
    {
      var session = document.getElementById("session");
      console.log(session.value);
      if(session.value == "user" || session.value == "Dual")
      {
        
         console.log("you can proceed further");
      }
      else
      {
        location.href = "/login";
      }

    }
    checklogin();
    function validateForms()
    {
      var stock = document.getElementById("stock");
      var quantity = document.getElementById("quantity");
      var stockerror = document.getElementById("stockerror")
      console.log(stock.textContent+"avalilable stock");
      console.log(quantity.value+"selected quantity");
      if(quantity.value>stock.textContent)
      {
        stockerror.style.color="red";
        stockerror.innerHTML = "quantity is greater than available stock";
        return false;
      }
      else
      {
        return true;
      }
      
    }
    
   </script>
 {% include "HomeFooter.html.twig" %}
