<html>
<head>
<title>Book Store</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="public/assets/css/style.css" rel="stylesheet" type="text/css" />
<style>
  
  </style>
</head>
<body>
<div id="wrapper">
  <div id="inner">
    <div id="header">
      <h1 id="title">Engineering Book Store</h1>
      <h1 id="userloginss">{{ getSession("UserName") }}</h1>
      <nav> <a href="/"><button id="homebutton">Home</button></a>  
      <a href="/userredirect"><button  id="homebuttons"> Login</button></a>
   </nav>
    <dd class="last"></dd>
  <center>
        <form action="/searchbook" method="get" autocomplete="off">
          <div>
            <input type="hidden" name ="action" value="searchbook">
            <input name="bookname" type="text" placeholder="Search your book"id="text" />
           <br> <br>
            <input type="submit" value="search" class="softright">
            <input type="hidden" id="session" value={{ getSession("loggedUser") }} >
          </div>
        </form>
  </center>
  <br>
  <input type="hidden" id="userlogin" value={{ getSession("UserName") }} >
  <div id="search-result" style="text-align:left;"></div>
    
    <dl id="browse">
    <dt>Full Category Lists</dt>
    <dd class="first"></dd>
  
        {% for category in category %}
        {% set categorys = category %}
        {% set path = "/category?id="~categorys %}
        <dd><a href= "{{ path }}" >{{ category }}</a></dd>
        {% endfor %}
      
    </dl>
  
  