{% include "Homeheader.html.twig" %}
      {% set i=0 %}
      {% for books in book %}
       {% set path = books.coverpage %}
       {% set image = "app/Model/upload/" ~ path %}
       {% set title = books.title %}
       {% set price = books.price %}
       {% set id = books.bookid %}
       {% set url = "../../../app/Controller/Home/indexController.php?id=" ~ id %}
      

        {% if i%2 == 0 %}
        
   <div id='body'>
      <div class='inner'>
        <div class='leftbox'>
          <h3>{{ title }}</h3>
          <img src="{{ image }}" width='93' height='95' alt='photo 1' class='left' />
          <p><b>Price:</b> <b>{{ price }}</b></p>
         <p class='readmore'><a href="{{ url }}"><button id="buynow">BUY NOW</button></a></p>
          <div class='clear'></div>
        </div>
        {% endif %}
        
        {% if i%2 == 1 %}
        <div class='rightbox'>
        <h3>{{ title }} </h3>
        <img src= "{{ image }}" width='107' height='91' alt='photo 4' class='left' />
        <p><b>Price:</b> <b>{{ price }}</b> </p>
        <p class='readmore'><a href="{{ url }}"><button id="buynow">BUY NOW</button></a></p>
          <div class='clear'></div>
        </div>
        <div class='clear'></div>
      </div><div class='clear br'></div>
       {% endif %}

       {% set i=i+1 %}
    
        {% endfor %}
      
{% include "HomeFooter.html.twig" %}