<html>
<head>
<title>Book Store</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../../../public/assets/css/style.css" rel="stylesheet" type="text/css" />
<style>
  
  </style>
</head>
<body>
<div id="wrapper">
  <div id="inner">
    <div id="header">
      <h1 id="title">Engineering Book Store</h1>
      <h1 style="background-color:red;color:white;">{{ name }}</h1>
      <nav> <a href="../../../public/assets/html/first.php"><button id="homebutton">Home</button></a>  
      <a href="../../../app/Controller/UserRedirect.php"><button id="homebutton">User Login</button></a>
   </nav>
    <dd class="last"></dd>
  <center>
        <form action="../../../app/Controller/home/SearchByTitle.php" method="get" autocomplete="off">
          <div>
            <input name="bookname" type="text" placeholder="Search your book"id="text" />
           <br> <br>
            <input type="submit" value="search" class="softright">
          </div>
        </form>
  </center>
  <br>
  
  <div id="search-result" style="text-align:left;"></div>
      <!-- end nav -->
     <!-- end header -->
    <dl id="browse">
    <dt>Full Category Lists</dt>
    <dd class="first"></dd>
  
        {% for category in category %}
        {% set categorys = category %}
        {% set path = "../../../app/Controller/home/categoryController.php?category="~categorys %}
        <dd><a href= "{{ path }}" >{{ category }}</a></dd>
        {% endfor %}
      
    </dl>
      {% set i=0 %}
      {% for books in book %}
       {% set path = books.coverpage %}
       {% set image = "../../../app/Model/upload/" ~ path %}
       {% set title = books.title %}
       {% set price = books.price %}
       {% set id = books.bookid %}
       {% set url = "../../../app/Controller/Home/indexController.php?id=" ~ id %}
      

        {% if i%2 == 0 %}
        
   <div id='body'>
      <div class='inner'>
        <div class='leftbox'>
          <h3>{{ title }}</h3>
          <img src="{{ image }}" width='93' height='95' alt='photo 1' class='left' />
          <p><b>Price:</b> <b>{{ price }} </b></p>
         <p class='readmore'><a href="{{ url }}"><button style='background-color:red;color:white;border:0px;'>BUY NOW</button></a></p>
          <div class='clear'></div>
        </div>
        {% endif %}
        
        {% if i%2 == 1 %}
        <div class='rightbox'>
        <h3>{{ title }} </h3>
        <img src= "{{ image }}" width='107' height='91' alt='photo 4' class='left' />
        <p><b>Price:</b> <b>{{ price }}</b> </p>
        <p class='readmore'><a href="{{ url }}"><button style='background-color:red;color:white;border:0px;'>BUY NOW</button></a></p>
          <div class='clear'></div>
        </div>
        <div class='clear'></div>
      </div><div class='clear br'></div>
       {% endif %}

       {% set i=i+1 %}
    
        {% endfor %}
    
 <!-- end .inner -->
    </div>
    <!-- end body -->
    <div class='clear'></div>
    <div id='footer'> Web design by <a href='http://www.freewebsitetemplates.com'>free website templates</a> &nbsp;
      <div id='footnav'> <a href='#'>Legal</a> | <a href='#'>Home</a> </div>
      <!-- end footnav -->
    </div>
    <!-- end footer -->
  </div>
  <!-- end inner -->
</div>
<!-- end wrapper -->
<script src='../../../public/assets/js/home/homeScripts.js'>
  </script>
</body>
</html>
