<html>
<head>
<title>Book Store</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="public/assets/css/style.css" rel="stylesheet" type="text/css" />
  <style>

  </style>
</head>
<body>
<div id="wrapper">
  <div id="inner">
    <div id="header">
      <h1 id="title">Engineering Book Store</h1>
      <h1 id="userloginss">{{ name }}</h1>
      <nav> <a href="../../../public/assets/html/first.php"><button id="homebutton">Home</button></a> 
       
      <a href="../../Controller/UserRedirect.php"><button id="homebuttons"></button></a>
    </nav>
    <dd class="last"></dd>
  <center>
        <form action="../../../app/Controller/home/SearchByTitle.php" method="get" autocomplete="off">
          <div>
            <input name="bookname" type="text" placeholder="Search your book"id="text" />
           <br> <br>
            <input type="submit" value="search" class="softright">
          </div>
        </form>
  </center>
  <br>
  
  <div id="search-result"></div>
     
     <dl id="browse">
      <dt>Full Category Lists</dt>
      <dd class="first"></dd>
    
          {% for categorys in category %}
          {% set cate = categorys %}
          {% set path = "../../../app/Controller/home/categoryController.php?category="~cate %}
          <dd><a href= "{{ path }}" >{{ cate }}</a></dd>
          {% endfor %}
        
      </dl>
    
   <div id='body'>
      <div class='inner'>
        <div class='leftbox'>
          <table id="similarboook">
         <tr><td><img src= "{{ source }}" width='100' height='150' alt='photo 1' class='left' /></td>
        <td><div id='bookData'><h3 id='titles'>{{ title }}</h3></td>
         

          <td><h3 id="bookprice"> TOTAL PRICE :{{ price }}<br></h3></td>
         <td><p class='readmore'></p><br><br><br>
         <form action="index.php?action=orderconfirm" method="post">
          <input type="hidden" name="totalprice" value= "{{ price }}" >
          <input type="hidden" name="bookid" value= "{{ bid }}" >
          <input type= "hidden" name = "quantity" value = "{{ quantity }}"  >
        <button type ="submit" id="buynow">Confirm Order</button></td></tr>
        </form>
      </table>
         </div><div class='clear'></div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div id="similarbook">Books You May Like</div>
        <br>
        <br>{{ quantity }}
        <br>
        {% set i = 0 %}
        {% for similars in similar %}

        {% set path = "../../../app/Controller/home/indexController.php?id=" ~ similars.bookid %}
         
        {% set imagepath = "app/model/upload/" ~ similars.coverpage %}
        {% set price = similars.price %}
        {% set title = similars.title %}

      {% if i%2 == 0 %}
        <div id='body'>
          <div class='inner'>
            <div class='leftbox'>
              <h3>{{ title }}</h3>
              <img src="{{ imagepath }}" width='93' height='95' alt='photo 1' class='left' />
              <p><b>Price:</b> <b>{{ price }}</b></p>
             <p class='readmore'><a href="{{ path }}"><button id="buynow">BUY NOW</button></a></p>
              <div class='clear'></div>
            </div>
            {% endif %}
            {% if i%2 == 1 %}
            <div class='rightbox'>
              <h3>{{ title }} </h3>
              <img src= "{{ imagepath }}" width='107' height='91' alt='photo 4' class='left' />
              <p><b>Price:</b> <b>{{ price }}</b> </p>
              <p class='readmore'><a href="{{ path }}"><button id="buynow">BUY NOW</button></a></p>
                <div class='clear'></div>
              </div>
              <div class='clear'></div>
            </div><div class='clear br'></div>
            {% endif %}
            {% set i = i+1 %}
            {% endfor %}
            <input type="hidden" id="userlogin" value="{{ name }}">
            <input type='hidden' id='session' value='{{ session }}'>
    
    
<script src='../../../public/assets/js/home/homeScripts.js'>
  </script>
  <script src="../../../public/assets/js/home/home.js"></script>
</body>
</html>
