{% include "Authordasheader.html.twig" %}
<br>
        <center>
<table>
    <h1 id ="Published">Published Book Report</h1>
    <th id ="heading">Title</th>
    <th id="heading">Category</th>
    <th id="heading">Sub Category</th>
    <th id="heading">Price</th>
    <th id="heading">Stock</th>
    <th id="heading">Sales Count</th>
  
      {% for book in data %}
      <tr>
      <td id="bookdata">{{ book.title }}</td>
      <td id="bookdata">{{ book.categoryname }}</td>
      <td id="bookdata">{{ book.subcategoryname }}</td>
      <td id="bookdata">{{ book.price }}</td>
      <td id="bookdata">{{ book.stock }}</td>
      <td id="bookdata">{{ book.salescount }}</td>
      </td></tr>
      {% endfor %}

    </table>
    </center>
    <input type="hidden" id="userlogin" value="{{ name }}">
       
   {% include "AuthordashFooter.html.twig" %}