<html>
    <head>
        <title>Author</title>
        
          <link href="../../../public/assets/css/style.css" rel="stylesheet" type="text/css" />
          <style>
            #text
  {
    position: absolute;
    top:78px;
    width:87%;
    left:0%;
  }
            
            </style>
    </head>

    <body>
    <div id="wrapper">
            <div id="inner">
              <div id="header">
                <h1 id="title">Engineering Book Store </h1>
                <h1 style="background-color:red;color:white;">{{ name }}</h1>
                <nav> <a href="../../../public/assets/html/first.php"><button id="homebutton">Home</button></a> 
                 
                <a href="../../Controller/UserRedirect.php"><button style="background-color:red;border:0px;color:white;font-size:20px;" id="homebuttons">Login</button></a>
               </nav>
              <dd class="last"></dd>
            <center id="form">
                  <form action="../../Controller/home/SearchByTitle.php" method="get" autocomplete="off">
                    <div>
                      <input name="bookname" type="text" placeholder="Search your book"id="text" />
                     <br> <br>
                      <input type="submit" value="search" class="softright">
                    </div>
                  </form>
            </center>
            <br>
            
            <div id="search-result" style="text-align:left;"></div>
             <!-- end nav -->
     <!-- end header -->
    <dl id="browse">
    <dt>Options</dt>
    <dd class="first"> <a href="../../controller/accounts/AuthorWelcomePage.php">
                Author Home </a></dd>
    <dd style="font-size:16px;"> <a href="../../view/authordash/PublishPlatform.php">
                Create Book </a></dd>
                <dd style="font-size:16px;">   <a href="../../Controller/authordash/SalesReport.php"> Report </a></dd>
                <dd style="font-size:16px;"> <a href="../../Controller/authordash/ListBook.php">List Book</a></dd>
                <dd style="font-size:16px;"> <a href="../../Controller/accounts/logout.php">logout</a></dd>
                <dd style="font-size:16px;"><p style="margin-top:0px;font-weight:bold;padding:3px 10px;color:white;font-size:16px" onclick="myFunction()" id="become">Become User</p></dd>
                <dd style="font-size:16px;"><p style="margin-top:0px;font-weight:bold;padding:3px 10px;color:white;font-size:16px" onclick="userRedirect()" id="redirect"></p></dd>
              </dl>
    
    
        
        <center>
           
            <table>
                <tr><td>
                  
            <h1 id="welcomes"> welcome {{ name }} for author dash</h1><br><br><br></td></tr>
           
            <tr><td><h1 id="welcomes"></h1></td></tr>
           
           <tr><td> <h1 id="welcomes"></h1></td></tr>
           </table>
           <table>
            <th> </th>
            <th> category</th>
            <th> No of Books </th>
           {% for datas in data %}
           <tr>
           {% set category = datas.category %}

           {% if category starts with "co" %}

           <td><img src = "../../../public/assets/images/computer.jpg" width="50px" height="50px" ></td>
           <td> {{ category }} </td>
           <td>  {{ datas.total }}</td>
          {% endif %}
          {% if category starts with "E" or category starts with "e"%}
          <td><img src = "../../../public/assets/images/electrical.jpg" width="50px" height="50px"></td>
          <td> {{ category }} </td>
          <td>  {{ datas.total }}</td>
          {% endif %}
         
          {% if category starts with "M" or  category starts with "m" %}
          <td><img src = "../../../public/assets/images/mecha.png" width="50px" height="50px" ></td>
          <td> {{ category }} </td>
          <td>  {{ datas.total }}</td>
          {% endif %}
          {% if category starts with "Ma" or  category starts with "ma" %}
          <td><img src = "../../../public/assets/images/marine.jpg" width="50px" height="50px" ></td>
          <td> {{ category }} </td>
          <td>  {{ datas.total }}</td>
          {% endif %}
          {% if category starts with "Ci" or  category starts with "ci" %}

          <td><img src = "../../../public/assets/images/civil.jpg" width="50px" height="50px" ></td>
          <td> {{ category }} </td>
          <td>  {{ datas.total }}</td>
         {% endif %}
         {% if category starts with "Ae"  or  category starts with "ae"%}

          <td><img src = "../../../public/assets/images/aero.jpg" width="50px" height="50px" ></td>
          <td> {{ category }} </td>
          <td>  {{ datas.total }}</td>
         {% endif %}
         {% if category starts with "Bi" or  category starts with "bi" %}

          <td><img src = "../../../public/assets/images/bio.png" width="50px" height="50px" ></td>
          <td> {{ category }} </td>
          <td>  {{ datas.total }}</td>
         {% endif %}
         {% if category starts with "Au" or  category starts with "au" %}

         <td><img src = "../../../public/assets/images/auto.jpg" width="50px" height="50px" ></td>
         <td> {{ category }} </td>
         <td>  {{ datas.total }}</td>
        {% endif %}
        {% if category starts with "ch" or  category starts with "Ch" %}

        <td><img src = "../../../public/assets/images/chemical.jpg" width="50px" height="50px" ></td>
        <td> {{ category }} </td>
        <td>  {{ datas.total }}</td>
       {% endif %}

        </tr>
          {% endfor %}
           <input type='hidden' id='session' value="{{ session }}">
           <input type="hidden" id="userlogin" value="{{ name }}">
           

         </table>
         </center>
         <!-- end body -->
<div class="clear"></div>
<div id="footer"> Engineering Book store Phone:044 567890 Email:engineering@bookstore.in &nbsp;
 <div id="footnav">  </div>
 <!-- end footnav -->
</div>
<!-- end footer -->
</div>
<!-- end inner -->
</div>
<!-- end wrapper -->
<script src="../../../public/assets/js/home/homeScripts.js">
</script>
<script src="../../../public/assets/js/authordash/authordash.js">
  </script>

    </body>
</html>